# Python cache & compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/

# Build / Distribution
build/
dist/
*.egg-info/

# Streamlit cache
.streamlit/

# Uvicorn / FastAPI cache
*.pid

# Misc
*.sqlite3

# All CSV datasets
*.csv

# Saved scaler objects
scaler_X.save
scaler_y.save

# train and test data
*.npy

# model file
*.pth

# remove helper
sample.txt
